apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: greengate
  labels:
    app: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:6
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongodb-storage
          mountPath: /data/db
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      volumes:
      - name: mongodb-storage
        persistentVolumeClaim:
          claimName: mongodb-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  namespace: greengate
spec:
  selector:
    app: mongodb
  type: NodePort
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017
    nodePort: 30017
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-pvc
  namespace: greengate
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi