.opp-container {
  padding: 2rem 0;
  margin: 0 ;
}

.opp-hero{
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.filter-section{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.filter-section .categories {
  background: rgba(124, 173, 124, 0.05);
  box-shadow: 5px;
  padding: 10px;
  border-radius: 20px;
}

.filter-section .categories:hover{
  background: rgba(124, 173, 124, 0.1);
}


.filter-section .categories a{
  text-decoration: none;
  color: #3b4954;
  font-size: 20px;
  padding: 20px;
}

.filter-section .categories a .active{
  text-decoration: none;
  color: #16a34a;
  font-size: 20px;
}

.filter-section .dropdown-filter{
  position: absolute;
  right: 0;
  margin-right: 6%;
}

.filter-section .dropdown-filter span{
  margin-right: 10px;
  font-size: 1rem;
}

.filter-section .dropdown-filter select{
  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.opp-title {
  font-size: 8rem;
  color: #3b4954;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.opp-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.opp-card {
  background: rgba(124, 173, 124, 0.208);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(60,60,60,0.04);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  max-width: 330px;
  max-height: 400px;
  min-height: 400px;
  cursor: pointer;
}

.opp-card:hover {
  box-shadow: 0 4px 15px rgba(60,60,60,0.1);
  transition: ease-in-out 0.3s;
  transform: ease-in-out 0.3s;
  background: rgba(124, 173, 124, 0.321);
}

.opp-card-header {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.3rem;
}

.org-logo {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 1.2rem;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.3rem;
}

.org-name {
  font-weight: 600;
  margin-right: 2rem;
}

.opp-time {
  margin-left: auto;
  font-size: 0.9rem;
  color: #888;
}

.opp-card-title {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #000000;
}

.opp-card-image {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.6rem;
  margin-top: 0.4rem;
  object-fit: cover;
  height: 120px;
}

.opp-card-deadline {
  font-size: 0.89rem;
  margin-bottom: 0.6rem;
  color: #707785;
}

.opp-card-desc {
  font-size: 0.96rem;
  color: #222e;
  margin-bottom: .6rem;
  min-height: 40px;
  word-wrap: break-word;
}

.opp-apply-btn {
  background: #ffffff;
  background: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  color: #027A5E;
  border: none;
  padding: 0.55rem 1.5rem;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 10px;
  text-decoration: none;
}

.opp-apply-btn:hover {
  background: #ffffff;
  background: linear-gradient(135deg,rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 100%);
}


.pagination-wrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  gap: 0.5rem;
}
.pagination-button,
.pagination-number {
  border: none;
  background: #fff;
  color: #3b4954;
  font-weight: 600;
  padding: 0.45rem 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}
.pagination-number.active {
  background: #4caf50;
  color: #fff;
}
.pagination-ellipsis {
  display: flex;
  align-items: center;
  padding: 0 .6rem;
  color: #7b868e;
  font-size: 1.3em;
}


